#root{
  display: flex;
  flex-direction: column;
}

.submitButton{
  background-color: #FFE1A8;
  border: none;
  width: 50%;
  height: 4vh;
  margin-top: 10%;
  align-self: center;
}

.submitButton:hover{
  -webkit-box-shadow: inset 10px 10px 0 0 rgba(201,203,163,1);
  -moz-box-shadow: inset 10px 10px 0 0 rgba(201,203,163,1);
  box-shadow: inset 10px 10px 0 0 rgba(201,203,163,1);
  cursor: pointer;
}

.choiceText{
  align-self: center;
}