#root{
  display: flex;
  flex-direction: column;
}

.submitButton{
  background-color: #FFE1A8;
  border: none;
  width: 50%;
  height: 4vh;
  margin-top: 10%;
  align-self: center;
}

.userSelector{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  height: 50%;
}

.computerSelector{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  height: 50%;
}

.submitButton:hover{
  -webkit-box-shadow: inset 10px 10px 0 0 rgba(201,203,163,1);
  -moz-box-shadow: inset 10px 10px 0 0 rgba(201,203,163,1);
  box-shadow: inset 10px 10px 0 0 rgba(201,203,163,1);
  cursor: pointer;
}

.choiceText{
  align-self: center;
}

@media (min-width: 700px){
  .selectionContainer{
    display: flex;
    flex-direction: row;
  }

  .computerSelector{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
  }

  .userSelector{
    width: 50%;
    margin-top: 0;
  }
}

