.optionButton{
    border-radius: 60%;
    border: none;
    background: none;
}

.optionButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.optionImage{
    width: 20vw;
    border-radius: 50%;
}

.unselectedOption{
    opacity: 0.2;
}

.optionsContainer{
    display: grid;
    align-self: center;
    width: 80vw;
    grid-template-areas:
        ". scissors ."
        "spock description paper"
        "lizard . rock";
}

@media (min-width: 700px){
    .optionsContainer{
        width: 40vh;
    }

    .optionImage{
        width: 25vh;
    }
    .choiceText{
        width: 30%;
        align-self: flex-start;
        margin-left: 10%;
    }
}

.confirmedOption{
    width: 50%;
    align-self: center;
    transition: opacity 2s;
}

.choiceText{
    align-self: center;
}

.optionDescription{
    grid-area: description;
    justify-self: center;
    align-self: center;
}

#Scissors{
    grid-area: scissors;
}

#Spock{
    grid-area: spock;
    margin-top: -20%;
}

#Rock{
    grid-area: rock;
    margin-left: -40%;
}

#Lizard{
    grid-area: lizard;
    margin-right: -40%;
}

#Paper{
    grid-area: paper;
    margin-top: -20%;
}